name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
    - name: Install esy
      run: 'npm install -g esy@0.6.0 --unsafe-perm'
    - name: Checkout
      uses: actions/checkout@v2.0.0
    - name: esy install
      run: 'esy install'
    - name: esy build
      run: 'esy build'
